<style >
  .button {
      background-color: green;
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      border-radius: 8px;
    }
    .guessed_button{
      background-color: gray;
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      border-radius: 8px;
    }
    .bomb_button{
      background-color: red;
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      border-radius: 8px;
    }
</style>

<% if Space.bomb_checker(@location)%>
  <h1><%= @location %> was a bomb! BOOOOO</h1>
<% else Space.make_guess(@location) %>
   <% if Space.win %>
     <h1>YOU WIN!</h1>
   <% end %>

<% end %>


<ul class="grid">
  <% (0..1).each do |row| %>
    <ul class="row">
    <% (0..1).each do |col| %>
      <% @button_id = "#{row}-#{col}" %>
      <% @grid_location = Space.find_by(location: @button_id) %>
      <% @cell_color = @grid_location.bomb ? "red" : @grid_location.guessed ? "green" : "pink" %>
      <%= button_to @button_id, spaces_path, {method: :post, params: { location: "#{@grid_location.location}" }, class: "button", background_color: "#{@cell_color}"} %>
    <% end %>
    </ul>
  <% end %>
</ul>
