<style >
  .button {
      background-color: red
      border: none;
      color: grey;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
    }
</style>


<div class="button">
<%=  button_to "a1", spaces_path, method: :post, params: { location: "a1" } %>
<%=  button_to "a2", spaces_path, method: :post, params: { location: "a2" } %>
<%=  button_to "b1", spaces_path, method: :post, params: { location: "b1" } %>
<%=  button_to "b2", spaces_path, method: :post, params: { location: "b2" } %>
</div>
