<style >
  .button {
      background-color: silver;
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 26px;
      border-radius: 8px;
    }
</style>


<div>
<%=  button_to "0-0", spaces_path, {method: :post, params: { location: "0-0" }, class: "button"} %>
<%=  button_to "0-1", spaces_path, {method: :post, params: { location: "0-1" }, class: "button"} %>
</div>
<div>
<%=  button_to "1-0", spaces_path, {method: :post, params: { location: "1-0" }, class: "button"} %>
<%=  button_to "1-1", spaces_path, {method: :post, params: { location: "1-1" }, class: "button"} %>
</div>
