<style >
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .button {
      background-color: #29293d;
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 5px;
      height: 75px;
      width: 75px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      border-radius: 8px;
      transition: all 0.2s ease-in-out;
      box-shadow: 2px 2px 2px grey;
    }
  .button:hover {
    transform: scale(1.1);
    background-color: #980c0c;
  }
  .guessed_button {
    /* background:url("https://imgur.com/a/B8TPg"); */
    /* background:url(../assets/images/dan.png); */
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    height: 75px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
  }
  .bomb_button{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    height: 75px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
  }
</style>
<div class="game-container">
  <ul class="grid">
    <% (0..Space.size).each do |row| %>
      <ul class="row">
        <% (0..Space.size).each do |col| %>
          <% @button_id = "#{row}-#{col}" %>
          <% @space_instance = Space.find_by(location: @button_id) %>
          <%= button_to "", '/games/location', {method: :post, params: { location: @space_instance.location }, class: "#{@space_instance.button_class}"} %>
        <% end %>
      <br>
      </ul>
    <% end %>
  </ul>
  <div class="instructions">
    <h3>Your Task: </h3>
    <p> It's the year 2050 and you must carry the only remaining non-bionic DNA sample across a minefield (life's not fair, we know). It takes five steps to make it to safety and secure the future of the human race. One wrong step and you and the sample are gone forever. Can you make it across? Good luck!
    </p>
  </div>
</div>
