<div class="win">
  <h1>Congratulations! You made it back to safety!</h1>
  <%= button_to "NEW GAME", "/games/new", method: :get, class: 'user-buttons' %>
  <%= button_to "VIEW YOUR STATS", "/users/#{User.last.id}", method: :get, class: 'user-buttons' %>
</div>
